doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/github-markdown-css/github-markdown.css')
    style .markdown-body { min-width: 200px; max-width: 790px;margin: 0 auto;padding: 30px;}
  body
    div(class="markdown-body")!=content


